[submodule "harpia/third_party/sdl"]
	path = harpia/third_party/sdl
	url = https://github.com/libsdl-org/SDL
[submodule "harpia/third_party/sdl_image"]
	path = harpia/third_party/sdl_image
	url = https://github.com/libsdl-org/SDL_image
[submodule "harpia/third_party/sdl_mixer"]
	path = harpia/third_party/sdl_mixer
	url = https://github.com/libsdl-org/SDL_mixer
[submodule "harpia/third_party/sdl_ttf"]
	path = harpia/third_party/sdl_ttf
	url = https://github.com/libsdl-org/SDL_ttf
[submodule "harpia/third_party/glm"]
	path = harpia/third_party/glm
	url = https://github.com/g-truc/glm
